# Supabase Session Pooler
DB_HOST=aws-1-eu-west-1.pooler.supabase.com
DB_NAME=postgres
DB_USER=postgres.tjuzygdcybkhicojbxl
DB_PASSWORD=postgres
DB_PORT=5432
DJANGO_SECRET_KEY=change-this-in-render
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,.onrender.com
