# Supabase Session Pooler
DB_HOST=aws-1-eu-west-1.pooler.supabase.com
DB_NAME=postgres
DB_USER=postgres.tjuzyggdcybkhicojbxl
DB_PASSWORD=replace-with-your-supabase-password
DB_PORT=5432
DB_SSLMODE=require
DJANGO_SECRET_KEY=change-this-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
