# Backend remoto en Render o produccion. Puedes ponerlo con o sin /api.
# EXPO_PUBLIC_API_BASE_URL=https://tu-backend.onrender.com/api

# Android emulador
EXPO_PUBLIC_ANDROID_API_HOST=http://10.0.2.2:8000

# iPhone simulador o pruebas locales
# EXPO_PUBLIC_IOS_API_HOST=http://localhost:8000

# Si quieres forzar la URL completa de la API local:
# EXPO_PUBLIC_API_BASE_URL=http://192.168.1.49:8000/api
