# Backend desplegado actualmente
EXPO_PUBLIC_API_BASE_URL=https://tfg-backend-jrrn.onrender.com/api

# Android emulador con backend local
# EXPO_PUBLIC_ANDROID_API_HOST=http://10.0.2.2:8000

# Android fisico por USB con adb reverse
# EXPO_PUBLIC_ANDROID_API_HOST=http://127.0.0.1:8000

# iPhone simulador con backend local
# EXPO_PUBLIC_IOS_API_HOST=http://localhost:8000

# Si quieres forzar otra URL completa de la API:
# EXPO_PUBLIC_API_BASE_URL=http://192.168.1.49:8000/api
